<html>
	<head>
		<title>Halaman Tidak Ditemukan</title>
		<link rel="stylesheet" href="/public/css/error.css">
	</head>
	<body>
		<section class="error-page">
			<div class="error-page__wrapper">
				<div class="error-page__wordsearch">
					<ul>
						<li>Z</li>
						<li>D</li>
						<li>P</li>
						<li>S</li>
						<li>R</li>
						<li>L</li>
						<li>E</li>
						<li>G</li>
						<li>E</li>
						<li>L</li>
						<li>W</li>
						<li>B</li>
						<li class="error-page__wordsearch--selected">4</li>
						<li class="error-page__wordsearch--selected">0</li>
						<li class="error-page__wordsearch--selected">4</li>
						<li>F</li>
						<li>R</li>
						<li>K</li>
						<li>M</li>
						<li>T</li>
						<li>Q</li>
						<li>O</li>
						<li>V</li>
						<li>C</li>
						<li>O</li>
						<li>E</li>
						<li class="error-page__wordsearch--selected">P</li>
						<li class="error-page__wordsearch--selected">A</li>
						<li class="error-page__wordsearch--selected">G</li>
						<li class="error-page__wordsearch--selected">E</li>
						<li>M</li>
						<li>D</li>
						<li>X</li>
						<li class="error-page__wordsearch--selected">N</li>
						<li class="error-page__wordsearch--selected">O</li>
						<li class="error-page__wordsearch--selected">T</li>
						<li>S</li>
						<li>L</li>
						<li>M</li>
						<li>V</li>
						<li>O</li>
						<li>T</li>
						<li>P</li>
						<li>S</li>
						<li>R</li>
						<li>A</li>
						<li>E</li>
						<li>G</li>
						<li>N</li>
						<li>A</li>
						<li class="error-page__wordsearch--selected">F</li>
						<li class="error-page__wordsearch--selected">O</li>
						<li class="error-page__wordsearch--selected">U</li>
						<li class="error-page__wordsearch--selected">N</li>
						<li class="error-page__wordsearch--selected">D</li>
						<li>G</li>
						<li>E</li>
						<li>M</li>
						<li>Z</li>
						<li>P</li>
						<li>I</li>
						<li>A</li>
						<li>S</li>
						<li>J</li>
					</ul>
				</div>
				<div class="error-page__contents">
					<div class="error-page__title">404</div>
					<p class="u-tb--large">Page Not Found</p>
					<p class="error-page__message">Ini bukan halaman yang Anda cari.</p>
					<div class="error-page__home">
						<a href="/">Beranda</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
