<html>
	<head>
		<link rel="stylesheet" href="/css/home_style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="app-container">
			<header>
				<div class="header-container">
					<img id="teamup-logo"src="https://cdn.discordapp.com/attachments/730225043396886570/731734900796817429/d39e41ea7348250c07785e5f671427be.png">
					<h1>Team Up</h1>
					<ul>
						<li><a href="https://www.google.com/">asdas</a> </li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</header>
			<div class="apps">
				<div class="menu-bar">
					<div class="menu-bar-container">
						<img src="" alt="profile">
						<hr>
						<ul>
							<li>Dashboard</li>
							<li>Dashboard</li>
							<li>Dashboard</li>
							<li>Dashboard</li>
							<li>Dashboard</li>
							<li>Support</li>
						</ul>
					</div>
				</div>
				<div class="view">
					<div class="view-container">
						
					</div>
				</div>
			</div>
			<footer>
				<div class="footer-container">
				</div>
			</footer>
		</div>
	</body>
</html>