<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Test eJS</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="login">
				<div class="login-container">
					<h2>Sign In</h2>
					<form method="post" action="/signup" target="_self">
						<div class="credential">
							<input id="username" class="ipt" type="text" name="username" placeholder="username">
							<!--i class="fa fa-envelope" style="display:block;">-->
							<input id="password" class="ipt" type="password" name="passsword" placeholder="password">
						</div>
						<div class="submit">
							<input class="btn" type="reset">
							<input class="btn" id="login" type="submit" onclick="Login()" placeholder="login">
						</div>
					</form>
					<div class="down">
							<p>Forgot Your Password? <b><a href="#">Remember Me</a></b></p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>
