* {
	padding: 0;
	margin: 0;
	text-decoration: 0;
	list-style: none;
	font-family: "Latto", arial, sans-serif;
}
/*Header*/
header {
	height: 55px;
	background-color: dodgerblue;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 95%;
	margin: auto;
}
#teamup-logo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

/*Left side a.k.a menubar*/
.menu-bar {
	background-color: rgba(30, 29, 48,1);
	width: 30%;
	height: 100vh;
}
.menu-bar li {
	color: white;
	margin-bottom: 10px;
	padding: 5px;
}
.menu-bar-container {
	padding: 20px;
}