/*RESET*/
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg,#5f2c82,#49a09d); 
	display: flex;
	align-items: center;
	justify-content: center;
}
.login {
	width: 500px;
	height: 300px;
	background-color: rgba(255,255,255,0);
	border-radius: 10px;
}
.login-container {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.credential {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.login-container h2 {
	text-align: center;
	padding: 10px 0;
	color: white;
}
.ipt {
	color: white;
	margin: 10px;
	padding: 5px;
	height: 50px;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid white;
}
.ipt:focus {
	background-color: rgba(222, 222, 222,0.3);
	outline: none;
}
::placeholder {
	color: white;
}
.submit {
	display: flex;
	flex-direction: row;
}
.btn {
	width: 50%;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	background-color: rgba(255,255,255,1);
	outline: none;
	color: rgb(145, 92, 219);
	cursor: pointer;
	border: none;
}
.btn:active {
	background-color: rgba(255,255,255,0.8);
}
.down {
	text-align: center;
	margin: 5px;
}
.down p,a {
	font-size: 14px;
	color: white;
	text-decoration: none;
}
